---
Checks: 
  -*,
  performance-*,
  abi-*,
  cert-*,
  concurrency-*,
  android-*,
  objc-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  modernize-*, 
  -modernize-use-trailing-return-type,
  llvm-*,
  -llvm-qualified-auto,
  -llvm-namespace-comment,
  -llvm-include-order,
  readability-*,
  -readability-qualified-auto,
  -readability-identifier-length,
  -readability-math-missing-parentheses,
  -readability-convert-member-functions-to-static,
  google-*,
  -google-build-using-namespace,
  -google-readability-namespace-comments,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-use-internal-linkage,
  -misc-use-anonymous-namespace,

FormatStyle: llvm
