*.DS_Store
Makefile
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
compile_commands.json
.cache
.idea
.vscode
vcpkg_installed
build
build.Android
build.iOS
build.macOS
build.HarmonyOS
build.Linux
build.Wasm
build.Windows
scripts/JS/dist
*.qjsb