*.DS_Store
Makefile
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
compile_commands.json
.cache
.idea
.vscode
vcpkg_installed
build.*
dist
*.qjsb
__pycache__
package-lock.json
node_modules
Testing/
