*.md linguist-documentation
*.txt linguist-documentation
LICENSE linguist-documentation

*.ttf linguist-vendored
*.otf linguist-vendored

*.png linguist-vendored
*.jpg linguist-vendored
*.svg linguist-vendored
*.webp linguist-vendored

*.entitlements linguist-vendored
*.jar linguist-vendored
**/gradlew linguist-vendored
**/gradlew.bat linguist-vendored

.github/**/* linguist-vendored
res/**/* linguist-vendored

CMakeLists.txt -linguist-documentation
CMakeLists.txt linguist-language=CMake
*.cmake linguist-language=CMake
**/pch linguist-language=cpp
**/*.pch linguist-language=cpp

package-lock.json linguist-generated

* text=auto eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
