.vscode
build.Android
build.iOS
build.macOS
build.HarmonyOS
build.Linux
build.Wasm
build.Windows
*.DS_Store
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
scripts/JS/dist
*.qjsb
build
.cache/clangd/index
.idea
vcpkg_installed
compile_commands.json
